.login-wrapper {
    /* height: 100vh; */
	background: url('/assets/dist/img/ingrid-hall.jpg');
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo a {
	color: #666666;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: -2px;
}

.login-logo img {
    height: 70px;
    width: auto;
    margin-top: 20px;
    transition: .5s height;
}

.login-logo img:hover {
    height: 75px;
}

a{
    color: #222;
}

.form-control-feedback {
    right: 20px;
    /* color: #db362b; */
}

.login-box {
	width: auto;
    margin: auto;
}

.login-box-msg {
    font-size: 18px;
    font-weight: normal;
}

.login-box-body {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px;
    padding-bottom: 10px;
    background: transparent;
    margin-bottom: 20px;
}

.btn-accent {
    background: #FF473A;
    width: 50%;
    margin: 0 auto;
}

.btn-accent:focus {
    color: #FFF;
}

@media only screen and (max-width:990px) {
    .btn-accent {
        width: 100% !important;
    }

    .login-wrapper {
        height: 100%;
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background: lightgrey;
    color: #000;
    opacity: .5;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #000;
    opacity: .7;
}

.form-error {
    display: inline-block;
    animation: 2s alertAnim forwards;
    position: absolute;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.relative {
    display: block;
    position: relative;
    opacity: .8;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateX(-20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

input[type='checkbox'] {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
}

input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    color: #686B68;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins > i{
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #000;
}
input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    background: transparent;
    /* border: 2px solid #9E9E9E; */
    border: 2px solid #686B68;
    /* opacity: .7; */
    border-radius: 2px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label:hover{
    color: #333;
    /* opacity: .7; */
}
/* input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: #000;
} */
input[type='checkbox']:checked + label > ins{ height: 100%; color: #000; }

/* input[type='checkbox']:checked + label > span{
    border: 2px solid #000;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
} */
input[type='checkbox']:checked + label > span:before{
    content: "\f00c";
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #686B68;
}

@keyframes shrink-bounce{
    0%{
    transform: scale(1);
    }
    33%{    
    transform: scale(.85);
    }
    100%{
    transform: scale(1);    
    }
}
@keyframes checkbox-check{
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0,0,0) rotate(45deg);
    }

    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }

    100%{
        width: .2em;
        height: .5em;
        border-color: #212121;
        transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}