<div class="col-md-12 login-wrapper">
    <div class="login-box">
        <div class="login-logo">
            <!-- <a routerLink="/">VogueAfriq</a> -->
            <a routerLink="">
                <img src="assets/dist/img/vogueBg3.png" alt="" class="vogueBg">
            </a>
        </div>



        <!-- /.login-logo -->
        <div class="login-box-body" style="max-width: 800px;">
            <p class="login-box-msg very-bold">Create a merchant account</p>

            <div id="feedback_err" [style.display]="'none'" style="background-color: red;"></div>
            <div id="feedback_success" [style.display]="'none'" style="background-color: green;"></div>


            <form [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
                <div class="row">
                    <div class="form-group has-feedback col-md-6">
                        <label for="storename">Store name
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="storename" class="form-control" placeholder="Store Name" [(ngModel)]="store.name" [formControl]="registrationForm.controls['storeName']"
                            required>
                        <span class="ion-ios-person-outline form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['storeName'].hasError('required') && formSubmitAttempt" class="form-error">Store name is required</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="whatdoyousell">What do you sell?
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" class="form-control" placeholder="What do you sell?" [(ngModel)]="store.description" [formControl]="registrationForm.controls['description']"
                            required>
                        <span class="ion-cash form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['description'].hasError('required') && formSubmitAttempt" class="form-error">Store description is required</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="mobilenumber">Mobile Number
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number" [(ngModel)]="store.mobile" [formControl]="registrationForm.controls['mobile']"
                            required>
                        <span class="ion-ios-telephone-outline form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['mobile'].hasError('required') && formSubmitAttempt" class="form-error">Mobile is required</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="email">Email
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="store.email" [formControl]="registrationForm.controls['email']"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" required>
                        <span class="ion-ios-email-outline form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['email'].hasError('required') && formSubmitAttempt" class="form-error">Email is required</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="password">Password
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="store.password" [formControl]="registrationForm.controls['password']"
                            required>
                        <span class="ion-ios-locked-outline form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['password'].hasError('required') && formSubmitAttempt" class="form-error">Password is required</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="confirmPassword">Confirm Password
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="password" class="form-control" placeholder="Confirm Password" [formControl]="registrationForm.controls['confirmPassword']"
                            required>
                        <span class="ion-ios-locked-outline form-control-feedback"></span>

                        <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && formSubmitAttempt" class="form-error">Password Confirmation is required</div>
                        <div *ngIf="registrationForm.hasError('notSame') && formSubmitAttempt" class="form-error">Password fields do not match</div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>
                        <input type="checkbox" [formControl]="registrationForm.controls['agreedToTerms']" required> I agree to the
                        <a style="color: brown" routerLink="#">store owner agreement</a>

                        <div *ngIf="registrationForm.controls['agreedToTerms'].hasError('required') && formSubmitAttempt" class="form-error">You must agree to terms</div>
                    </label>
                </div>

                <button type="submit" class="btn  btn-accent btn-block btn-flat b-r-10">Create Account
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
                <br>
                <p>Already have an account?
                    <a routerLink="/login" class="" style="font-weight: 700; margin: 10px 0; font-size: 12px;">Login</a>
                </p>
            </form>







        </div>
        <!-- /.login-box-body -->
        <auth-footer></auth-footer>
    </div>
</div>