<div class="col-md-12 login-wrapper">
    <div class="login-box">
        <div class="login-logo">
            <a routerLink="">
                <img src="assets/dist/img/vogueBg3.png" alt="" class="vogueBg">
            </a>
        </div>

        <!-- /.login-logo -->
        <div class="login-box-body" style="max-width: 800px;">
            <p class="login-box-msg very-bold">Create a merchant account</p>

            <div id="feedback_err" [style.display]="'none'" style="background-color: red;"></div>
            <div id="feedback_success" [style.display]="'none'" style="background-color: green;"></div>

            <form [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
                <div class="row">
                    <div class="form-group has-feedback col-md-6">
                        <label for="first_name">First Name
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="first_name" class="form-control" placeholder="First Name" [(ngModel)]="user.first_name" [formControl]="registrationForm.controls['first_name']"
                            required>

                        <div *ngIf="registrationForm.controls['first_name'].hasError('required') && formSubmitAttempt" class="form-error">
                            <span class="relative">First name is required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="last_name">Last Name
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name" [(ngModel)]="user.last_name" [formControl]="registrationForm.controls['last_name']"
                            required>

                        <div *ngIf="registrationForm.controls['last_name'].hasError('required') && formSubmitAttempt" class="form-error">
                            <span class="relative">Last name is required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="email">Email
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" [formControl]="registrationForm.controls['email']"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" required>

                        <div *ngIf="registrationForm.controls['email'].hasError('required') && formSubmitAttempt" class="form-error">
                            Email is required
                        </div>
                        <div *ngIf="registrationForm.controls['email'].hasError('pattern') && formSubmitAttempt" class="form-error">Email is invalid</div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="password">Password
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" [formControl]="registrationForm.controls['password']"
                            required>

                        <div *ngIf="registrationForm.controls['password'].hasError('required') && formSubmitAttempt" class="form-error">
                            <span class="relative">Password is required</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback col-md-6">
                        <label for="confirmPassword">Confirm Password
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="password" class="form-control" placeholder="Confirm Password" [formControl]="registrationForm.controls['confirmPassword']"
                            required>

                        <div class="form-error" style="position: relative; margin-bottom: 0;">
                            <span *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && formSubmitAttempt" class="relative">Password Confirmation is required</span>
                            <span *ngIf="registrationForm.hasError('notSame') && formSubmitAttempt" class="relative">Password fields do not match</span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="mobilenumber">Mobile Number
                            <small style="color: red; position: relative; left: 5px;">*</small>
                        </label>
                        <input type="number" name="mobilenumber" class="form-control" placeholder="Mobile Number" [(ngModel)]="user.mobile" [formControl]="registrationForm.controls['mobile']"
                            required>

                        <div *ngIf="registrationForm.controls['mobile'].hasError('required') && formSubmitAttempt" class="form-error">
                            <span class="relative">Mobile is required</span>
                        </div>
                    </div>

                    
                    <!-- <div class="form-group col-sm-6">
                        <input type="checkbox" [checked]="is_store" (change)="is_storeChange()" [(ngModel)]="user.is_store" [formControl]="registrationForm.controls['is_store']"
                        id="is_storeId" class="accountType" name="accountType">
                        <label for="is_storeId" class="checkboxLabel">
                            <span></span>
                            Store Account
                        </label>

                        <div *ngIf="registrationForm.controls['is_store'].hasError('required') && formSubmitAttempt" class="form-error">Account Type is required</div>
                    </div> -->

                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" [formControl]="registrationForm.controls['agreedToTerms']" id="tnc" required>
                        <label for="tnc" class="checkboxLabel">
                            <span></span>
                            I agree to the &nbsp;<a style="color: brown" routerLink="#">store owner agreement</a>
                        </label>

                        <div *ngIf="registrationForm.controls['agreedToTerms'].hasError('required') && formSubmitAttempt" class="form-error">You must agree to terms</div>
                    </label>
                </div>

                <button type="submit" class="btn  btn-accent btn-block btn-flat b-r-10" [disabled]="loading">
                    Create Account
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
                <br>
                <p>Already have an account?
                    <a routerLink="/login" class="" style="font-weight: 700; margin: 10px 0; font-size: 12px;">Login</a>
                </p>
            </form>
        </div>
        <!-- /.login-box-body -->
        <auth-footer></auth-footer>
    </div>
</div>