.login-wrapper {
	height: 100vh;
	background: url('/assets/dist/img/fashion-hanger.jpg');
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo a {
	color: #fff;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: -2px;
}

a{
    color: #222;
}

.form-control-feedback {
    right: 10px;
    color: #db362b;
}

.login-box {
	width: auto;
    margin: auto;
}

.login-box-msg {
	font-size: 20px
}

.login-box-body {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px;
    padding-bottom: 10px;
}
