h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.info-box {
	padding: 10px 0;
	display: block;
    background: #fff;
    width: 100%;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    min-height: auto;
    height: 80px
}
.info-box-icon {
	background: transparent;
	    margin-top: 5px;
	    line-height: 1;
	    height: auto;
}

.info-box-icon img {
	width: 50%
}
.info-box-text{
	font-weight: 700;
	font-size: 10px;
	color: #e76f15;

}

.info-box-number {
	font-weight: 300;
	margin-top: 3px;
	font-size: 25px;

}


.progress-group {
	font-size: 12px;
}
.progress {
	margin-top: 5px;
	    border-radius: 5px;
}

.progress .progress-bar {
border-radius: 5px;
}

.progress-group .progress-text {
	font-weight: 300;
}

.description-block .description-percentage {
 font-weight: 700
}

.description-block .description-header {
	font-weight: 300;
    margin: 5px 0;
}

.description-block .description-text {
 font-size: 12px;
 font-weight: 700	
}

.products-list .product-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.product-title span.label {
	background: transparent;
	color: #e76f15;
    border: 1px solid #ffc107;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 8px;
    float: right;
}







