.footer {
    margin: 0;
    text-align: center;
}

.footer .social-container {
    padding: 10px;
    color: #041935;
    font-size: 28px;
}

.footer .social-container,
.footer .quickLinks,
.footer .copyright {
    color: #041935;
    -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: #FF473A;
    }
    
    25% {
        color: brown;
    }
    
    55% {
        color: #FF473A;
    }
    
    75% {
        color:brown;
    }

    100% {
        color: #FF473A;
    }
  }

.footer .social-container i {
    margin: 0 10px;
    cursor: pointer;
}

.footer .quickLinks {
    width: 100%;
    color: #FFF;
}

.footer .quickLinks .row {
    height: 100%;
    width: 100%;
    margin: 0;
}

.footer .quickLinks .row .col {
    font-weight: bold;
    cursor: pointer;
}

.footer .quickLinks .row a {
    color: #041935;
    height: 100%;
    width: 100%;
    -webkit-animation:colorchange 20s infinite alternate;
}

.footer .copyright {
    padding: 10px;
    color: #FFF;
}