
<div id="page-wrapper">
    <div id="page-header" class="bg-gradient-9">

        <div id="header-nav-left">
            <a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lockscreen page example">
                <i class="glyph-icon icon-linecons-lock"></i>
            </a>
            <div class="user-account-btn dropdown">
                <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                    <img width="28" src="assets/image-resources/gravatar.jpg" alt="Profile image">
                    <span>Michael Lee</span>
                    <i class="glyph-icon icon-angle-down"></i>
                </a>
                <div class="dropdown-menu float-right">
                    <div class="box-sm">
                        <div class="login-box clearfix">
                            <div class="user-img">
                                <a href="#" title="" class="change-img">Change photo</a>
                                <img src="assets/image-resources/gravatar.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <span>
                                    Michael Lee
                                    <i>UX/UI developer</i>
                                </span>
                                <a href="#" title="Edit profile">Edit profile</a>
                                <a href="#" title="View notifications">View notifications</a>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <div class="button-pane button-pane-alt pad5L pad5R text-center">
                            <a href="#" class="btn btn-flat display-block font-normal btn-danger">
                                <i class="glyph-icon icon-power-off"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- #header-nav-left -->
        <div id="header-nav-right">
            <a href="#" class="hdr-btn popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
                <i class="glyph-icon icon-search"></i>
            </a>
            <div class="hide" id="popover-search">
                <div class="pad5A box-md">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search terms here ...">
                        <span class="input-group-btn">
                            <a class="btn btn-primary" href="#">Search</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="dropdown" id="notifications-btn">
                <a data-toggle="dropdown" href="#" title="">
                    <span class="small-badge bg-yellow"></span>
                    <i class="glyph-icon icon-linecons-megaphone"></i>
                </a>
                <div class="dropdown-menu box-md float-left">
                    <div class="popover-title display-block clearfix pad10A">
                        Notifications
                        <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">
                            More options...
                        </a>
                    </div>
                    <div class="scrollable-content scrollable-slim-box">
                        <ul class="no-border notifications-box">
                            <li>
                                <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                                <span class="notification-text font-blue">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                                <span class="notification-text font-green">A success message example.</span>
                                <div class="notification-time">
                                    <b>2 hours</b> ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-azure icon-notification glyph-icon icon-random"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                                <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text font-blue">Alternate notification styling.</span>
                                <div class="notification-time">
                                    <b>2 hours</b> ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-green icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text font-green">A success message example.</span>
                                <div class="notification-time">
                                    <b>2 hours</b> ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-pane button-pane-alt pad5T pad5L pad5R text-center">
                        <a href="#" class="btn btn-flat btn-primary" title="View all notifications">
                            View all notifications
                        </a>
                    </div>
                </div>
            </div>


        </div><!-- #header-nav-right -->
    </div>
    </div>