.form-error {
    display: inline-block;
    animation: 2s alertAnim forwards;
    position: absolute;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
}

.img-error {
  margin-top: -15px;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateX(-20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

.jq-icon-error {
    background-color: #444444 !important;
}

.jq-toast-loader {
    display: none !important;
}

.jFiler-input {
    max-width: 100% !important;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    color: #333;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
  }

  input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
  }

  input[type='checkbox'] + label > ins > i{
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #000;
  }

  input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
  }
  
  input[type='checkbox'] + label:hover{
    color: #000;
  }

  /* input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: #000;
  } */

  input[type='checkbox']:checked + label > ins{ height: 100%; color: #000; }
  
  /* input[type='checkbox']:checked + label > span{
    border: 2px solid #000;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  } */
  
  input[type='checkbox']:checked + label > span:before{
    content: "\f00c";
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: grey;
  }
  
  @keyframes shrink-bounce{
    0%{
      transform: scale(1);
    }
    33%{    
      transform: scale(.85);
    }
    100%{
      transform: scale(1);    
    }
  }
  @keyframes checkbox-check{
    0%{
      width: 0;
      height: 0;
      border-color: #212121;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
      width: .2em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{    
      width: .2em;
      height: .5em;    
      border-color: #212121;
      transform: translate3d(0,-.5em,0) rotate(45deg);
    }
  }