.form-error {
    display: inline-block;
    animation: 2s alertAnim forwards;
    position: absolute;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 5px;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateX(-20px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

.jq-icon-error {
    background-color: #444444 !important;
}

.jq-toast-loader {
    display: none !important;
}