<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Create New Product
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a routerLink="#">Home</a>
                </li>
                <li class="active">Create New Product</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Product Information</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form" [formGroup]="productForm" (ngSubmit)="saveProduct()" novalidate>
                                <!-- text input -->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Product Name
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="product.name" [formControl]="productForm.controls['name']" required
                                            placeholder="Product Name">

                                        <div *ngIf="productForm.controls['name'].hasError('required') && formSubmitAttempt" class="form-error">Product Name is required</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Category
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <select class="form-control" [formControl]="productForm.controls['l1category']" (change)="fetchProductTypeForCategory($event)" [(ngModel)]="product.l1category">
                                            require>
                                            <option *ngFor="let item of categorys" [value]="item.slug">{{item.name}}
                                            </option>
                                        </select>

                                        <div *ngIf="productForm.controls['l1category'].hasError('required') && formSubmitAttempt" class="form-error">Product Category is required</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Product Type
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <select class="form-control" (change)="fetchSubCatForTypes($event)" [(ngModel)]="product.l2category" [formControl]="productForm.controls['l2category']"
                                            require>
                                            <option *ngFor="let item of productTypes" [value]="item.slug">{{item.name}}</option>
                                        </select>

                                        <div *ngIf="productForm.controls['l2category'].hasError('required') && formSubmitAttempt" class="form-error">Product Type is required</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Sub-Category
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <select class="form-control" [(ngModel)]="product.l3category" [formControl]="productForm.controls['l3category']" required>
                                            <option *ngFor="let item of subCategory" [value]="item.slug">{{item.name}}</option>
                                        </select>

                                        <div *ngIf="productForm.controls['l3category'].hasError('required') && formSubmitAttempt" class="form-error">Sub-Category is required</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- textarea -->
                                    <div class="form-group col-md-6">
                                        <label>Description
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <textarea class="textarea" placeholder="Place some text here" style="width: 100%; max-height: 120px; height: 120px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                                            [(ngModel)]="product.description" [formControl]="productForm.controls['description']"
                                            required></textarea>

                                        <div *ngIf="productForm.controls['description'].hasError('required') && formSubmitAttempt" class="form-error">Product description is required</div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label>Currency
                                                    <small style="color: red; position: relative; left: 5px;">*</small>
                                                </label>
                                                <select class="form-control" [(ngModel)]="product.currency" [formControl]="productForm.controls['currency']" require>
                                                    <option *ngFor="let item of currencys" [value]="item.code">{{item.code}}</option>
                                                </select>

                                                <div *ngIf="productForm.controls['currency'].hasError('required') && formSubmitAttempt" class="form-error">Currency is required</div>
                                            </div>

                                            <div class="form-group col-sm-12">
                                                <label>Enter Price
                                                    <small style="color: red; position: relative; left: 5px;">*</small>
                                                </label>
                                                <input type="text" class="form-control" [(ngModel)]="product.price" [formControl]="productForm.controls['price']" (keypress)="numbersOnly($event)"
                                                    required placeholder="Enter Price">

                                                <div *ngIf="productForm.controls['price'].hasError('required') && formSubmitAttempt" class="form-error">Product price is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Sizes
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <select class="form-control" [(ngModel)]="product.sizes" [formControl]="productForm.controls['sizes']" multiple>
                                            <option [value]="null" disabled>Choose your profile</option>
                                            <option *ngFor="let item of sizes" [value]="item.slug">{{item.name}}</option>
                                        </select>

                                        <div *ngIf="productForm.controls['sizes'].hasError('required') && formSubmitAttempt" class="form-error">Sizes are required</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Colors
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <select class="form-control" [(ngModel)]="product.colors" [formControl]="productForm.controls['colors']" multiple>
                                            <option *ngFor="let item of colors" [value]="item.slug">{{item.name}}</option>
                                        </select>

                                        <div *ngIf="productForm.controls['colors'].hasError('required') && formSubmitAttempt" class="form-error">Colors are required</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Tags
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <!-- <input type="text" class="form-control" [(ngModel)]="product.tags" [formControl]="productForm.controls['tags']" required> -->
                                        <select class="form-control" [(ngModel)]="product.tags" [formControl]="productForm.controls['tags']" multiple>
                                            <option *ngFor="let tag of tags" [value]="tag.slug">{{tag.name}}</option>
                                        </select>

                                        <div *ngIf="productForm.controls['tags'].hasError('required') && formSubmitAttempt" class="form-error">Product tags are required</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Other Colors
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="product.otherColors" [formControl]="productForm.controls['otherColors']">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <input type="checkbox" [checked]="newArrival" (change)="arrivalChange()" [(ngModel)]="product.isNewArrival" [formControl]="productForm.controls['isNewArrival']"
                                                    id="nArrival">
                                                <label for="nArrival">
                                                    <span></span>
                                                    Is New Arrival
                                                </label>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <input type="checkbox" [checked]="clearance" (change)="clearanceChange()" [(ngModel)]="product.isClearance" [formControl]="productForm.controls['isClearance']"
                                                    id="nClearance">
                                                <label for="nClearance" class="checkboxLabel">
                                                    <span></span>
                                                    Is Clearance
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Discount Price
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="product.discountPrice" [formControl]="productForm.controls['discountPrice']"
                                            (keypress)="numbersOnly($event)" placeholder="Discount Price">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Banner/Feature Image
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <input type="file" name="banner_image" class="single-file  form-control" [(ngModel)]="product.banner_image" [formControl]="productForm.controls['bannerImage']"
                                            (change)="addDocument($event)" />

                                        <div *ngIf="productForm.controls['bannerImage'].hasError('required') && formSubmitAttempt" class="form-error img-error">Banner Image is required</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Other Images
                                            <small style="color: red; position: relative; left: 5px;">*</small>
                                        </label>
                                        <input type="file" name="other_images" class="multi-file form-control" [(ngModel)]="product.other_images" [formControl]="productForm.controls['otherImages']"
                                            multiple (change)="addOtherDocuments($event)" />

                                        <div *ngIf="productForm.controls['otherImages'].hasError('required') && formSubmitAttempt" class="form-error img-error">Other Images required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- <input type="submit" class="btn btn-accent pull-right btn-flat" value="Publish" /> -->
                                    <button type="submit" class="btn  btn-accent pull-right btn-flat" style="background: #FF473A;">
                                        Publish
                                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                    </button>
                                    <br>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- <app-footer></app-footer> -->
    </div>
</div>