.product-image-wrapper {
	padding: 20px;
}

.image-actions a {
	width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #e7e7e7;
    border-radius: 50%;
    font-size: 15px;
    transition: .2s ease-in; 
}

.image-actions .remove-image {
	    background: red;
    color: #fff;
}

.image-actions .add-image {
	    background: #07b605;
    color: #fff;
}

.image-actions a:hover {
	opacity: .8
}

.other-images .item {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 3px;
    border: 1px solid #ccc;
    float: left;
}

.other-images .item img {
    width: 80px;
    height: 80px;
}

.other-images .item .remove-img {
    font-size: 30px;
    position: absolute;
    background: red;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: .2s ease-in;
}

.other-images .item:hover .remove-img {
    opacity: .8;
}

.other-images::after {
    content: '';
    display: block;
    clear: both;
}