<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Container page content -->
  <div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page Header) -->
    <section class="content-header">
      <h1>
        Edit Profile
      </h1>
      <ol class="breadcrumb">
        <li>
          <a routerLink="#">Home</a>
        </li>
        <li class="active">Edit Profile</li>
      </ol>
    </section>

    <!-- Main Content -->
    <section class="content">
      <!-- Profile Info Boxes -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Profile Information</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>

            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()" novalidate>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-feedback" style="position: relative;">
                          <label for="storename">Store Name</label>
                          <input type="text" name="storename" class="form-control" [formControl]="editProfileForm.controls['name']"
                            readonly>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group" style="position: relative;">
                          <label for="storeUserId">Store ID</label>
                          <input type="text" name="storeUserId" class="form-control" [formControl]="editProfileForm.controls['storeId']" readonly>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback" style="position: relative;">
                          <label for="mobile">Mobile Number</label>
                          <input type="text" name="mobile" class="form-control" [formControl]="editProfileForm.controls['mobile']"
                            readonly>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback" style="position: relative;">
                          <label for="address">Store Address</label>
                          <input name="address" id="" cols="30" rows="10" class="form-control" value="{{storeData.address}}" [(ngModel)]="storeProfile.address"
                            [formControl]="editProfileForm.controls['address']">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback" style="position: relative">
                          <label for="description">Store Description</label>
                          <input name="description" id="" cols="30" rows="10" class="form-control" value="{{storeData.description}}" [(ngModel)]="storeProfile.description"
                            [formControl]="editProfileForm.controls['description']">
                        </div>
                      </div>

                      <div class="btn-container" style="float: right; margin-right: 15px;">
                        <button type="submit" class="btn btn-accent btn-flat b-r-10" [disabled]="loading">
                          Edit Profile
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>