<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Container page content -->
  <div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page Header) -->
    <section class="content-header">
      <h1>
        Manage Account
      </h1>
      <ol class="breadcrumb">
        <li>
          <a routerLink="#">Home</a>
        </li>
        <li class="active">Manage Account</li>
      </ol>
    </section>

    <!-- Main Content -->
    <section class="content">
      <!-- Profile Info Boxes -->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon">
              <img src="/assets/dist/img/new-order.png" alt="">
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Account Status</span>
              <span class="info-box-number">{{store.status}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon">
              <img src="/assets/dist/img/new-order.png" alt="">
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Store ID</span>
              <span class="info-box-number">{{store.id}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <a routerLink="/my-profile-edit">
            <button class="btn btn-accent" style="margin: 0; float: right; border: 0;">Edit Profile</button>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Account Info</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>

            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 info-container">
                      <p class="p-r-10">
                        <span class="info-label">Name</span>
                        <span class="info-text">
                          {{store.name}}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-6 info-container">
                      <p class="p-r-10">
                        <span class="info-label">Number</span>
                        <span class="info-text">
                          {{user.mobile}}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-6 info-container">
                      <p class="p-r-10">
                        <span class="info-label">Address</span>
                        <span class="info-text">
                          {{store.address}}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-6 info-container">
                      <p class="p-r-10">
                        <span class="info-label">Description</span>
                        <span class="info-text">
                          {{store.description}}
                        </span>
                      </p>
                    </div>

                    <a routerLink="/reset-password" class="resetLink" style="cursor: pointer">Reset Password</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>