
<div class="col-md-12">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">VogueAfriq</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to your account</p>

            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" [formControl]="loginForm.controls['email']" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                     <div *ngIf="!loginForm.controls['email'].valid" class="ui error message">SKU is invalid</div>


                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                   
                  
                </div>
                <div class="row">
                    <div class="col-xs-8">


                        <label>
                            <input type="checkbox"> Remember Me
                        </label>

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>



            <a href="#/forgot-password">Forgot my password</a><br>
    


        </div>
        <!-- /.login-box-body -->
    </div>
</div>