  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="padding-top: 20px;">
            <div class="pull-left image">
                <img src="assets/dist/img/avatar.png" class="img-circle" alt="User Image">
               
            </div>
            <div class="pull-left info">
                <p>{{store?.name}}</p>
                <i class="fa fa-circle text-success" style="color: #1de220"></i> Online
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>


            <li><a routerLink="/"><i class="fa fa-circle-o"></i> <span>Dashboard</span></a></li>

             <li class="treeview">
                <a style="cursor: pointer;">
                    <i class="fa fa-circle-thin"></i>
                    <span>Products</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="/products"><i class="fa fa-circle-o"></i>Manage Products</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a style="cursor: pointer;">
                    <i class="fa fa-circle-thin"></i>
                    <span>Orders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="/orders"><i class="fa fa-circle-o"></i>Manage Orders</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
