/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";

body, a {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
section.content-header h1, .content-header h2, .content-header h3 {
    font-size: 22px;
    letter-spacing: -1px;
    margin-top: 0;
}
.content-wrapper {
    /*padding: 0 25px;*/
}
.btn-accent {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.btn-sm.btn-accent {
    height: 35px;
    line-height: 35px;
}
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.form-control {
    /*border-color: #d2d6de;*/
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
}
.form-control-feedback {
    font-size: 25px;
    height: 40px;
    line-height: 40px;
}
.form-error {
    color: #db362b;
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
    text-transform: lowercase;
}
.logo-lg {
    color: #fff;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: -1px;
}
/*misc*/

.b-r-5 {
    border-radius: 5px;
}
.b-r-7 {
    border-radius: 7px;
}
.b-r-10 {
    border-radius: 10px;
}
.btn {
    height: 40px;
}
.btn-accent {
    background: #db362b;
    color: #fff;
    margin-top: 15px;
    border-radius: 7px !important;
    height: 45px;
    box-shadow: 0 3px 8px #ccc;
    font-weight: 700;
    transition: .2s ease-in-out;
}
.btn-accent:hover {
    color: #fff;
    opacity: 0.7;
}
.very-bold {
    font-weight: 700;
}
.bold {
    font-weight: 400;
}
/*datatables
*/

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    height: 30px;
}
section.content+.row {
    padding-bottom: 0 30px;
}
section.content-header {
    padding-top: 25px;
    padding-bottom: 10px
}
table .label {
    background-color: transparent;
    border: 1px solid currentColor;
}
table .label.label-success {
    background-color: transparent !important;
    color: #00a65a !important;
}
table .label.label-warning {
    background-color: transparent !important;
    color: orange !important;
}
table .label.label-danger {
    background-color: transparent !important;
    color: #dd4b39 !important;
}
table .label.label-info {
    background-color: transparent !important;
    color: #00c0ef !important;
}
.pagination>li>a {
    background: #fafafa;
    color: #666;
    font-size: 12px;
    font-weight: 400;
}
.box {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-top: 0 !important;
}
.box-body {
    padding: 20px;
}
.box-body form label {
    font-size: 12px
}
.box-body textarea {
    resize: none;
    max-height: 100px;
    border-radius: 7px
}
.box a {
    color: #e76f15;
}
.box-title {
    padding: 10px;
    font-size: 16px
}
.box-footer {
    padding: 15px;
}
.box-footer .btn-accent {
    margin: 0;
    color: #fff;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 23px;
}
.select2-selection {
    height: 40px;
    min-height: 40px;
    border-color: #d2d6de !important;
}
.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-selection__arrow {
    top: 7px !important;
    right: 10px !important;
}

form .dropzone {
    border: 2px dashed orange;
    min-height: 122px;
    color: orange;
    font-weight: 700;
}

.bootstrap-tagsinput {
    width: 100%;
}

.btn.btn-outline {
    border: 2px solid #aaa;
    color: currentColor;
    font-weight: bold;
}