<div class="col-md-12 login-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="#">
        <img src="assets/dist/img/vogueBg3.png" alt="" class="vogueBg">
      </a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Reset Password</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group has-feedback">
          <label for="oldPassword">Old Password</label>
          <input type="password" name="oldPassword" class="form-control" placeholder="Enter Old Password" [(ngModel)]="store.oldPassword"
            [formControl]="resetPasswordForm.controls['oldPassword']" required>

          <div *ngIf="resetPasswordForm.controls['oldPassword'].hasError('required') && formSubmitAttempt" class="form-error">Old password is required</div>
        </div>

        <div class="form-group has-feedback">
          <label for="newPassword">Old Password</label>
          <input type="password" name="newPassword" class="form-control" placeholder="Enter New Password" [(ngModel)]="store.newPassword"
            [formControl]="resetPasswordForm.controls['newPassword']" required>

          <div *ngIf="resetPasswordForm.controls['newPassword'].hasError('required') && formSubmitAttempt" class="form-error">New password is required</div>
        </div>

        <div class="form-group has-feedback">
          <label for="confirmNewPassword">Old Password</label>
          <input type="password" name="confirmNewPassword" class="form-control" placeholder="Confirm New Password" [(ngModel)]="store.confirmNewPassword"
            [formControl]="resetPasswordForm.controls['confirmNewPassword']" required>

          <div *ngIf="resetPasswordForm.controls['confirmNewPassword'].hasError('required') && formSubmitAttempt" class="form-error">Confirm password is required</div>
          <div *ngIf="resetPasswordForm.hasError('notSame') && formSubmitAttempt" class="form-error">Password fields do not match</div>
        </div>
        <a routerLink="/my-profile" class="pull-right" style="font-weight: bold; /*margin: 10px 0;*/ font-size: 12px; opacity: 0.7;">Back to Profile</a>
        <br>

        <button type="submit" class="btn  btn-accent btn-block btn-flat b-r-10" style="background: #FF473A;">Reset Password</button>
      </form>
    </div>
    <br>
    <br>
    <auth-footer></auth-footer>
  </div>
</div>