<!-- <div class="col-md-12 login-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="#">
        <img src="assets/dist/img/vogueBg3.png" alt="" class="vogueBg">
      </a>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">Reset Password</p>

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
        <div class="form-group has-feedback" style="position: relative;">
          <label for="oldPassword">Old Password</label>
          <input type="password" name="oldpassword" class="form-control" [(ngModel)]="reset.oldpassword" placeholder="Enter Old Password"
            [FormControl]="resetForm.controls['oldpassword']" required>

          <div *ngIf="resetForm.controls['oldpassword'].hasError('required') && formSubmitAttempt" class="form-error">{{oldPasswordRequired}}</div>
        </div>

        <div class="form-group has-feedback" style="position: relative;">
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" class="form-control" [(ngModel)]="reset.newPassword" placeholder="Enter New Password"
            [FormControl]="resetForm.controls['newPassword']" required>

          <div *ngIf="resetForm.controls['newPassword'].hasError('required') && formSubmitAttempt" class="form-error">{{newPasswordRequired}}</div>
        </div>

        <div class="form-group has-feedback" style="position: relative">
          <label for="confirmNewPassword">Confirm New Password</label>
          <input type="password" name="confirmNewPassword" class="form-control" [(ngModel)]="reset.confirmNewPassword" placeholder="Confirm New Password"
            [FormControl]="resetForm.controls['confirmNewPassword']" required>

          <div *ngIf="resetForm.controls['confirmNewPassword'].hasError('required') && formSubmitAttempt" class="form-error">{{confirmNewPasswordRequired}}</div>
          <div *ngIf="resetForm.hasError('notSame') && formSubmitAttempt" class="form-error">Password fields do not match</div>
        </div>

        <a routerLink="/my-profile" class="pull-right" style="font-weight: bold; /*margin: 10px 0;*/ font-size: 12px; opacity: 0.7;">Back to Profile</a>
        <br>

        <button type="submit" class="btn  btn-accent btn-block btn-flat b-r-10" style="background: #FF473A;">Reset Password</button>
      </form>
    </div>
    <br>
    <br>
    <auth-footer></auth-footer>
  </div>
</div> -->