<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Manage Sub-Category <span class="very-bold product-ref">#79281</span>

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Edit Sub-Category</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sub-Category Information</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form" [formGroup]="subCategoryForm" (ngSubmit)="updateSubCategory(subCategoryForm.value)" novalidate>

                             <div class="row">
                                <!-- text input -->

                                  <div class="form-group col-sm-6">
                                    <label>Category</label>
                                   <select class="form-control" [formControl]="subCategoryForm.controls['category']" >
                                      <option *ngFor="let item of categorys" [selected]="subCategory.parent_category?.id === item.id" [value]="item.slug">{{item.name}}</option>
                                   </select>
                                  <!--   <div *ngIf="subCategoryForm.controls['category'].hasError('required') 
                                    && formSubmitAttempt" class="alert alert-danger">Category is required</div> -->
                                </div>


                                <div class="form-group col-sm-6">
                                    <label> Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="subCategory.name"  [formControl]="subCategoryForm.controls['name']" value="{{subCategory.name}}"  >
<!-- 
                                      <div *ngIf="subCategoryForm.controls['name'].hasError('required') && formSubmitAttempt" class="alert alert-danger">Sub-Category Name is required</div> -->
                                </div>

                                 
                            
                            </div>
                           <!--  {{productType.category.0.id}} -->
                            

                           

                             <div class="row">

                             <div class="form-group col-sm-6">
                                    <label>Product Type</label>
                                   <select class="form-control" [formControl]="subCategoryForm.controls['productType']" [(ngModel)]="subCategory.productType" >
                                      <option *ngFor="let item of productTypes" [value]="item.slug" 
                                      [selected]="pt == item.id">{{item.name}}</option>
                                   </select>
                                <!--     <div *ngIf="subCategoryForm.controls['productType'].hasError('required')
                                     && formSubmitAttempt" class="alert alert-danger">Product type is required</div> -->
                                </div>
                            
                                <div class="form-group col-sm-6">
                                    <input type="submit" class="btn btn-accent pull-right btn-flat" value="Publish"/>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
             
                    </div>

</section>
    </div>

</div>
<app-footer></app-footer>
